<!-- Card que contiene cada elemento mutlimedia-->
<br/>

<div class="row">
  <div class="col-sm">
      <select id="tip_filter" name="Tipo"  [(ngModel)]="selectedType" class="form-control">
          <option *ngFor="let tip of types" [value]="tip.id">
            {{tip.name}}
          </option>
      </select>
  </div>
  <div class="col-sm">
      <select id="cat_filter" name="Categorias"  [(ngModel)]="selectedCategory" class="form-control">
          <option *ngFor="let option of options" [value]="option.id">
            {{option.name}}
          </option>
      </select>
  </div>
  <div class="col-sm">
      <button class="btn btn-secondary" (click)="filtrar()">Filtrar</button>
  </div>
</div>

<div class="row"><br/></div>

<div class="row">
  <div *ngFor="let multimedia of selectedMultimedias" class="col-lg-4 col-md-4 col-xs-6 thumb">
    <div class="card mb-4 shadow-sm">
      <div class="embed-responsive embed-responsive-4by3" *ngIf="multimedia.type=='1' || multimedia.type=='3'">
          <video class="embed-responsive-item" id="player" src={{multimedia.url}} allowfullscreen controls #media></video>
      </div>
      <img src="{{multimedia.url}}" width="100%" height="100%" *ngIf="multimedia.type=='2'"/>
      <div class="card-body">
        <h5 class="card-title">{{multimedia.name}}</h5>
        <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Autor: </b>{{multimedia.autor}}</p>
        <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Fecha: </b>{{multimedia.fecha_creacion}}</p>
        <a href="" routerLink="/detail/{{multimedia.id}}" class="btn btn-secondary">Detalle</a>
      </div>
    </div>
  </div>
</div>
